# hidden files
.*
!/chirpstack/.rpm
!/.cargo
!/.env
!/.docker-compose
!.npmignore

# Log files
*.log

# Binary packages
/dist

# SQLite databases
*.sqlite

# Rust target directory
**/target
**/target-sqlite

# Certificates
/chirpstack/configuration/certs/*
/chirpstack/configuration/private_*.toml

# UI
/ui/node_modules
/ui/build

# Kotlin / Java generated build artifacts
/api/kotlin/.gradle
/api/kotlin/build
/api/kotlin/bin

# Exclude from gitignore
!/.github
